@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: #24282e;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding-top:8px;
}

.donate {
    /*padding: 50px*/
    background-color: #171b24;
    width: 500px;
    color: #FFF;
    margin-left:10px;
    margin-right:10px;
}

.donate p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 300; }

.donate h3 {
    font-size: 16px;
    font-weight: 500;
    text-align:center;
}

.denomination {
    float: left;
    width: 32%;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    background-color: #171b24;
    margin: 0 1px 1px 0;
    transition: background-color 0.2s ease; }

.denomination label {
    font-weight: 400;
    cursor: pointer; }

.denomination input {
    left: -10001px;
    position: absolute; }

.denomination-other {
    width: 98.30%;
}

.denomination-other input {
    position: relative;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    width: inherit;
    text-align: center;
    background-color: #171b24;
    border: none;
    padding: 13px 0;
    transition: background-color 0.2s ease;
}

input::placeholder {
    font-size:14px;
    letter-spacing:0.9px;
}

.input-group input:hover {
    background-color: #4149bc; }

.input-group input:before {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '$'; }

.input-group select:hover {
    background-color: #4149bc; }

.input-group select:before {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '$'; }

.input-group {
    width: 98.30%;
    margin-bottom:2px;
}

.input-group input {
    position: relative;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    width: inherit;
    text-align: center;
    background-color: #171b24;
    border: none;
    padding: 13px 0;
    transition: background-color 0.2s ease; }

.input-group input:hover {
    background-color: #4149bc; }

.input-group input:focus {
    background-color: #4149bc; }

.input-group input:before {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '$'; }

.input-group select {
    position: relative;
    color: #FFF;
    font-size: 17px;
    font-weight: 500;
    width: inherit;
    text-align: center;
    background-color: #171b24;
    border: none;
    padding: 13px 0;
    transition: background-color 0.2s ease; }

.input-group select:hover {
    background-color: #4149bc; }

.input-group select:focus {
    background-color: #4149bc; }

.input-group select:before {
    position: absolute;
    left: 6px;
    top: 2px;
    content: '$'; }


.donate-amount {
    margin-left:15px;
}

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover {
    background-color: #3650c0;
    border: 0; }

.donate-black h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 32px;
    margin-bottom: 30px; }

.donate-black h2 span {
    display: block;
    float: left;
    font-size: 16px;
    padding-top: 7px;
    margin-right: 20px;
    text-align: center;
    width: 30px;
    height: 25px;
    background-color: #ec3029;
    border-radius: 50%; }

.donate-type label,
.donate-payment label {
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px; }

.donate-blue {
    background-color: #1e252d;
    padding: 25px; }

.donate-black {
    padding: 25px; }

.donate-submit {
    width: 98.30%;
}

.donate-submit button {
    font-family: 'Montserrat', sans-serif;
    width: 98.30%;
    background-color: #2656c4;
    border: none;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 0;
    cursor: pointer;
    margin-top:15px;
    marin-bottom:0px;
}

.donate-submit small {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px; }

input::placeholder {
    color:#b1b1b4;
}

.circle {
    line-height: 0;		/* remove line-height */
    display: inline-block;	/* circle wraps image */
    margin: 5px;
    border: 4px solid rgba(200,200,200,0.4);
    border-radius: 50%;	/* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s;
    height: 50px;
    width: 50px;
}
.circle img {
    border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
    transition: ease-out 0.2s;
    border: 4px solid rgba(255,255,255,0.5);
    -webkit-transition: ease-out 0.2s;
}
a.circle {
    color: transparent;
} /* IE fix: removes blue border */

.text-center {
    text-align:center;
}

ml-2

::-webkit-input-placeholder {
    color: #b1b1b4;
    font-size: 14px;
    font-weight: 300; }

:-moz-placeholder {
    color: #b1b1b4;
    font-weight: 300; }

::-moz-placeholder {
    color: #b1b1b4;
    font-weight: 300; }

:-ms-input-placeholder {
    font-weight: 300;
    color: #b1b1b4; }

*:focus {
    outline: none; }

.mt-1 {
    margin-top: 1px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-3 {
    margin-left: 3px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

.text-right {
    float:right;
}

.contributors {
    background-color:#1f252d;
    padding:15px;
    margin-left:15px;
    margin-right:12px;
    font-size:13px;
}

.card {
    background-color:#181b24;
    padding:15px;
    margin-left:15px;
    margin-right:12px;
}

.card .header {
    font-size:15px;
    font-weight: 400;
}

.card .profit {
    padding: 6px;
    background-color: #4149bc;
    font-size:16px;
    color: #f2f2f2;
}

.card .footer {
    font-size:12px;
    color: #8c8d92;
    font-weight: 500;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

h4 {
    font-weight: 400;
    margin-left:15px;
    margin-right:12px;
    font-size: 15px;
}


.contributors-header {
    font-weight:500;
}

.text-muted {
    color:#8c8d92;
}

.donation {
    background-color:#3650c0;
    padding:2px;
    padding-right:4px;
    padding-left:4px;
}

.paid {
    background-color:#3650c0;
    padding:2px;
    padding-right:4px;
    padding-left:4px;
}

.unpaid {
    background-color:#fa4348;
    padding:2px;
    padding-right:4px;
    padding-left:4px;
}

.delete {
    background-color:#fa4348;
    padding:2.5px;
    padding-right:4px;
    padding-left:4px;
    font-weight:500;
    margin-top:-2.3px;
}

.mt-n3 {
    margin-top:-3px;
}

.mt-n5 {
    margin-top:-5px;
}

.mt-n8 {
    margin-top:-8px;
}

.mt-n10 {
    margin-top:-10px;
}

.mt-n15 {
    margin-top:-15px;
}

.mt-n20 {
    margin-top:-20px;
}

.mt-n25 {
    margin-top:-25px;
}

.mb-n3 {
    margin-bottom:-3px;
}

.mb-n5 {
    margin-bottom:-5px;
}

.mb-n8 {
    margin-bottom:-8px;
}

.swal2-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px !important;
    color:#fff !important;
}

.swal2-html-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color:#fff !important;

}

.swal2-container.swal2-center>.swal2-popup {
    background-color: #24282e !important;
}

.expdate {
    padding:5px;
    color:#000;
    background-color:#f8d339;
    padding-left:6px;
    padding-left:6px;
    font-weight:500;
}



.qr {
    width:100%;
    max-width:360px;
    padding-left:6px;
    padding-left:6px;
}

.text-left {
    float:left;
}

.logo {
    margin-right:33px;
}

.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: #fff;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #4149bc;
}

.pagination-number.active {
    color: #fff;
    background: #3650c0;
}

.alert {
    padding: 8px;
    background-color: #e2777a;
    color: #fff3cd;
    margin: 0 auto;
}

.success {
    padding: 8px;
    background-color: #7eac73;
    color: #fff3cd;
    margin: 0 auto;
}

#hideMe {
    -moz-animation: hideMe 0s ease-in 3s forwards;
    -webkit-animation: hideMe 0s ease-in 3s forwards;
    -o-animation: hideMe 0s ease-in 3s forwards;
    animation: hideMe 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hideMe {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideMe {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.file-upload .file-upload-select {
    font-size: 13px;
    display: block;
    color: #dbdbdb;
    cursor: pointer;
    text-align: left;
    background: #24282e;
    overflow: hidden;
    position: relative;
}

.file-upload .file-upload-select .file-select-button {
    background: #181b24;
    padding: 10px;
    display: inline-block;
}
.file-upload .file-upload-select .file-select-name {
    display: inline-block;
    padding: 10px;
}
.file-upload .file-upload-select:hover .file-select-button {
    background: #181b24;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-upload-select input[type="file"] {
    display: none;
}

.file-upload2 .file-upload-select2 {
    font-size: 13px;
    display: block;
    color: #dbdbdb;
    cursor: pointer;
    text-align: left;
    background: #24282e;
    overflow: hidden;
    position: relative;
}

.file-upload2 .file-upload-select2 .file-select-button2 {
    background: #181b24;
    padding: 10px;
    display: inline-block;
}
.file-upload2 .file-upload-select2 .file-select-name2 {
    display: inline-block;
    padding: 10px;
}
.file-upload2 .file-upload-select2:hover .file-select-button2 {
    background: #181b24;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.file-upload2 .file-upload-select2 input[type="file"] {
    display: none;
}

.link {
    text-decoration: none;
    color: #5398ff;
    font-weight: 500;
}

.f12 {
    font-size: 12px !important;
}


.btn {
    display: inline-block;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    width: 75px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

/* Button Outline
----------------------------*/
.btn-outline {
    transition: color 0.3s;
}

.btn-outline.color {
    margin-left: 1rem;
    box-shadow: inset 0 0 0 2px #000;
}

/* When animating the lines simply move in a certain direction, so we need to make sure that they are hidden when outside of the button. This way we will get our realistic animating border effect. */
.btn-outline {
    overflow: hidden;
    position: relative;
}
/* Left & Right Lines Container */
.btn-outline .lines {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
/* All Lines */
.btn-outline:before,
.btn-outline:after,
.btn-outline .lines:before,
.btn-outline .lines:after{
    background-color: #fff;
    content: "";
    position: absolute;
    transition: transform 0.3s;
}
/* Top & Bottom Lines */
.btn-outline:before,
.btn-outline:after {
    left: 0;
    width: 100%;
    height: 2px;
}
/* Top Line */
.btn-outline:after {
    bottom: auto;
    top: 0;
}
.btn-outline.draw:after {
    transition-delay: 0.6s;
}
/* Bottom Line */
.btn-outline:before {
    bottom: 0;
    top: auto;
}
.btn-outline.draw:before {
    transition-delay: 0.2s;
}
/* Left & Right Lines */
.btn-outline .lines:before,
.btn-outline .lines:after {
    top: 0;
    height: 100%;
    width: 2px;
}
/* Left Line */
.btn-outline .lines:before {
    left: 0;
    right: auto;
}
/* Right Line */
.btn-outline .lines:after {
    left: auto;
    right: 0;
}
.btn-outline.draw .lines:after {
    transition-delay: 0.4s;
}
/***************
 * Hover State *
 ***************/
/* Text */
.btn-outline:hover {
    color: #000;
}
/* Top */
.btn-outline:hover:after {
    transform: translateX(100%);
}
.btn-outline.draw:hover:after {
    transition-delay: 0s;
}
/* Bottom */
.btn-outline:hover:before {
    transform: translateX(-100%);
}
.btn-outline.draw:hover:before {
    transform: translateX(-100%);
    transition-delay: 0.4s;
}
/* Left */
.btn-outline:hover .lines:before {
    transform: translateY(-100%);
}
.btn-outline.center:hover .lines:before {
    transform: translateY(100%);
}
.btn-outline.draw:hover .lines:before {
    transform: translateY(-100%);
    transition-delay: 0.6s;
}
/* Right */
.btn-outline:hover .lines:after {
    transform: translateY(100%);
}
.btn-outline.center:hover .lines:after {
    transform: translateY(-100%);
}
.btn-outline.draw:hover .lines:after {
    transform: translateY(100%);
    transition-delay: 0.2s;
}

/* Button Swipe
----------------------------*/
.btn-swipe {
    position: relative;
    background-color: #000;
    z-index: 0;
    overflow: hidden;
    transition: color 0.3s cubic-bezier(0, .25, .5, 1);
}

.btn-swipe.no-bg {
    background: none;
    box-shadow: inset 0 0 0 2px #fff;
}

.btn-swipe:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    transform: translateX(-115%);
    transition: all 0.3s cubic-bezier(0, .25, .5, 1);
    background-color: #fff;
}

.btn-swipe.angle::before {
    transform: skewX(-35deg) translateX(-115%);
}

.btn-swipe:hover::before,
.btn-swipe:active::before {
    transform: translateX(0) scaleX(1.35);
}

.btn-swipe.angle:hover::before,
.btn-swipe.angle:active::before {
    transform: skewX(-15deg) translateX(0) scaleX(1.35);
}

.btn-swipe:hover,
.btn-swipe:active {
    color: #000;
}

/* Button Simple
----------------------------*/
.btn-simple {
    position: relative;
    background-color: none;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 0;
    overflow: hidden;
    transition: all 0.25s ease-out;
}

.btn-simple:hover,
.btn-simple:focus {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
    transform: translateY(2px);
}

.btn-simple:focus {
    color: rgba(255,255,255,1);
}